@charset "utf-8";
/* CSS Document */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: #fff;
  margin: 10px 50px;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #000000;
  background-color: #90c;
  padding: 15px;
  margin: 0;
  text-align: center;
  border-radius: 15px;
}
h2 {
  font-size: 16px;
  color: #00cdcd;
  margin: 0;
}
ul {
  list-style-type: square;
}

p + p {
  margin: 12px 0;
}
h2 + p {
  margin: 3px 0 5px 0;
}
p + h2 {
  margin-top: 30px;
}

h2 + ul {
  margin: 3px 0 5px 0;
}
ul + h2 {
  margin-top: 30px;
}

h1 + p {
  margin: 0;
}

h1 + h2 {
  margin-top: 15px;
}

a:link {
  color: #0000ff;
}
a:hover {
  color: #96c;
}
